/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
ul li {
  list-style: none;
}

.text-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.traffic-pole {
  background-color: rgb(63, 63, 63);
  width: 2rem;
  height: 6rem;
}

.traffic-light {
  background: rgb(63, 63, 63);
  /* height: 24rem; */
  width: 10rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 1rem 1rem;
  margin: 0;
}

.light {
  background: rgb(103, 103, 103);
  background: radial-gradient(
    circle,
    rgba(103, 103, 103, 1) 42%,
    rgba(73, 73, 73, 1) 100%
  );
  border-radius: 100%;
  height: 6rem;
  width: 6rem;
  margin-bottom: 1rem;
}

.green {
  background: rgb(54, 255, 2);
  background: radial-gradient(
    circle,
    rgba(54, 255, 2, 1) 42%,
    rgba(16, 119, 0, 1) 100%
  );
  box-shadow: 0px 0px 33px 11px #00FF0Fdc;
}

.yellow {
  background: rgb(255, 253, 49);
  background: radial-gradient(
    circle,
    rgba(255, 253, 49, 1) 42%,
    rgba(140, 136, 0, 1) 100%
  );
  box-shadow: 0px 0px 33px 11px #FFFD26dc;
}

.red {
  background: rgb(255, 49, 49);
  background: radial-gradient(
    circle,
    rgba(255, 49, 49, 1) 42%,
    rgba(140, 0, 0, 1) 100%
  );
  box-shadow: 0px 0px 33px 11px #FF0000dc;
}

.purple {
  background: rgb(184, 68, 255);
  background: radial-gradient(
    circle,
    rgba(184, 68, 255, 1) 42%,
    rgba(75, 0, 140, 1) 100%
  );
  box-shadow: 0px 0px 33px 11px #c322fddc;
}
